<html>
	<head>
		<title>Fermentables</title>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="/stylesheets/angularGrid.min.css" rel="stylesheet">
		<link href="/stylesheets/theme-fresh.min.css" rel="stylesheet">
		<link href="/stylesheets/style.css" rel="stylesheet">
		<link href="/stylesheets/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="/javascripts/filters.js"></script>
		<script src="/javascripts/angularApp.js"></script>
		<script src="/javascripts/ingredientsCtrl.js"></script>
		<script src="/javascripts/operation.js"></script>
		<script src="/javascripts/angularGrid.min.js"></script>
		<script src="/bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>		
		<script src="/bower_components/angular-xeditable/dist/js/xeditable.js"></script>		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body ng-app="beerboxApp">
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-10">
				<div class="page-header">
					<h2>Beer Box App</h2>
				</div>
					<ui-view></ui-view>				
				</div>
			<div class="col-md-1">
			</div>
		</div>
		<script type="text/ng-template" id="/home.html">
			<a href="#/recipe" class="btn btn-primary">Inserisci ricetta</a>
			<h3>Le tue ricette</h3>
		</script>
	</body>
</html>
