<html>
	<head>
		<title>Beer Box App</title>
		<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
		<link href="/stylesheets/font-flaticon/flaticon.css" rel="stylesheet" type="text/css">
		<link href="/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
		<link href="/bower_components/angular-material/angular-material.css" rel="stylesheet">
		<link href="/bower_components/v-accordion/dist/v-accordion.min.css" rel="stylesheet">
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bower_components/angular/angular.min.js"></script>
		<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="/bower_components/v-accordion/dist/v-accordion.min.js"></script>
		<script src="/javascripts/filters.js"></script>
		<script src="/javascripts/angularApp.js"></script>
		<script src="/javascripts/recipeListCtrl.js"></script>
		<script src="/javascripts/ingredientsCtrl.js"></script>
		<script src="/javascripts/ingredientsDetailCtrl.js"></script>
		<script src="/javascripts/calculatorsCtrl.js"></script>
		<script src="/javascripts/service.js"></script>
		<script src="/javascripts/operation.js"></script>
		<script src="/javascripts/ready.js"></script>
		<script src="/bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>		
		<script src="/bower_components/angular-xeditable/dist/js/xeditable.js"></script>		
	    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
	    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
	    <script src="/bower_components/angular-material/angular-material.min.js"></script>
<!--     <script src="/javascripts/fusioncharts/fusioncharts.js"></script> -->
<!--     <script src="/javascripts/fusioncharts/angular-fusioncharts.min.js"></script> -->
<!--     <script src="/javascripts/fusioncharts/fusioncharts.theme.fint.js"></script> -->
		<meta name="viewport" content="width=device-width, initial-scale=1Rs, maximum-scale=1, user-scalable=no">
	</head>
	<body ng-app="beerboxApp">
		<div class="container-fluid" id="app_container_id">
			<div class="header" id="app_header_id">
				<input type="checkbox" name="menu" value="toggle" id="toggle">
				<section class="headerMenu" id="menu">
					<label class="toggle" for="toggle" id="app_label_menu"><i class="fa fa-2x fa-bars"></i></label>
					<nav class="menuContent">
						<ul>
							<li><a href="#/home"><i class="fa fa-beer"></i>  Ricette</a></li>
							<li><a href="#/ingredients"><i class="fa fa-book"></i>  Ingredienti</a></li>
							<li><a href="#/calculators"><i class="fa fa-calculator"></i>  Strumenti</a></li>
							<li><a href="#"><i class="fa fa-bar-chart"></i>  Statistiche</a></li>
							<li><a href="#"><i class="fa fa-file-image-o"></i>  Gallery</a></li>
						</ul>
					</nav>	
				</section>			
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-10 recipe-content">
				<div class="page-header">
					<a href="#/home"><h1>Beer Box App</h1></a>
				</div>			
				<ui-view></ui-view>				
			</div>
			<div class="col-md-1">
			</div>
			<script type="text/ng-template" id="/home.html">
			<div class="home-content">
				<a href="#/addrecipe" class="btn btn-primary">{{user}} Inserisci ricetta</a>
				<div layout="column" class="home-column">
					<md-toolbar md-scroll-shrink class="md-small">
    					<div class="md-toolbar-tools">
	      					<h3>
    	    					<span>Le tue ricette</span>
      						</h3>
    					</div>
	  				</md-toolbar>
					<div layout="row" layout-margin>
					<div class="col-md-4 col-sm-6 col-xs-6 recipe-box" ng-repeat="recipe in recipes">
			        	<div class="panel panel-primary">
          					<div class="panel-heading">
            					<div class="row">
              						<div class="col-xs-2">
                						<i class="glyph-icon flaticon-beer33"></i>
                 					</div>
                 					<div class="col-xs-10 text-right">
                 						<div class="info-title">{{recipe.name}}</div>
                  						<div class="info-subtitle">{{recipe.style.name}}</div>
                 					</div>
                				</div>
              				</div>
            				<a href="#/recipe/{{recipe._id}}">
            					<div class="panel-footer">
              						<span class="pull-left">Apri ricetta</span>
                					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                					<div class="clearfix"></div>
              					</div>
          					</a>
        				</div>
					</div>
  					</div>
				<div>
			</div>
			</script>
		</div>
	</body>
</html>
