<h3>Nuova ricetta </h3>
<div class="recipe-header">
	<div class="box-form info">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="recipeName" class="col-sm-2 control-label">Nome</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng:model="recipe.name" id="recipename" placeholder="Nome">
				</div>
			</div>
			<div class="form-group">
				<label for="recipeType" class="col-sm-2 control-label">Tipo</label>
				<div class="col-sm-10">
					<select class="form-control" ng:model="recipe.type" ng-options="obj for obj in recipeType">
						<option value="">Tipo ricetta</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="recipeStyle" class="col-sm-2 control-label">Stile</label>
				<div class="col-sm-10">
					<select class="form-control" ng:model="style" ng-options="c.name for c in recipeStyle">
						<option value="">Stile</option>
					</select>
				</div>
			</div>		
		</form>	
	</div>
	<div class="box-form batch">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="recipeName" class="col-sm-3 control-label">Litri finali</label>
				<div class="col-sm-9">
					<input type="number" class="form-control" ng:model="recipeSize" id="recipesize" placeholder="Litri">
				</div>
			</div>
			<div class="form-group">
				<label for="recipeName" class="col-sm-3 control-label">Litri pre-boil</label>
				<div class="col-sm-9">
					<input type="number" class="form-control" ng:model="recipe.preboilsize" id="recipepbsize" placeholder="Litri Pre-boil">
				</div>
			</div>
			<div class="form-group">
				<label for="recipeName" class="col-sm-3 control-label">Efficienza</label>
				<div class="input-group col-sm-9">
					<input type="text" class="form-control" ng:model="recipeEff" id="recipeeff" placeholder="Efficienza">
					<div class="input-group-addon">%</div>
				</div>
			</div>
		</form>	
	</div>
	<div class="box-results col-md-5">
		<div class="row">
			<div class="col-md-1">
				<span class="tip-title" tooltip="Gravità iniziale">OG</span>
			</div>
			<div class="col-md-2">{{ showtotalOg() }}</div>		
				<div class="col-md-8">
					<div class="bb-bar" title="Style range: {{style.og}}">
						<div class="bb-bar-range" style="width: {{rangeW() }}%; left: {{rangeL() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></div>
							<i class="bb-bar-this fa fa-caret-down" style="left: {{ogpercent() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></i>
					</div>
				</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<span class="tip-title" tooltip="International Bittering Units">IBU</span>
			</div>
			<div class="col-md-2">{{ totalIbu() }}</div>		
				<div class="col-md-8">
					<div class="bb-bar" title="Style range: {{style.ibu}}">
						<div class="bb-bar-range" style="width: {{ibuRangeW() }}%; left: {{ibuRangeL() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></div>
							<i class="bb-bar-this fa fa-caret-down" style="left: {{ibupercent() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></i>
					</div>
				</div>
			</div>			
		<div class="row">
			<div class="col-md-1">
				<span class="tip-title" tooltip="Standard Reference Method">SRM</span>
			</div>
			<div class="col-md-2">{{ totalSrm() }}</div>		
				<div class="col-md-8">
					<div class="bb-bar" title="Style range: {{style.srm}}">
						<div class="bb-bar-range" style="width: {{srmRangeW() }}%; left: {{srmRangeL() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></div>
							<i class="bb-bar-this fa fa-caret-down" style="left: {{srmPercent() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></i>
					</div>
				</div>
			</div>			
		<div class="row">
			<div class="col-md-1">
				<span class="tip-title" tooltip="Standard Reference Method">ABV</span>
			</div>
			<div class="col-md-2">{{ totalAbv() }}%</div>		
				<div class="col-md-8">
					<div class="bb-bar" title="Style range: {{style.abv}}">
						<div class="bb-bar-range" style="width: {{abvRangeW() }}%; left: {{abvRangeL() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></div>
							<i class="bb-bar-this fa fa-caret-down" style="left: {{abvPercent() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></i>
					</div>
				</div>
			</div>						
	</div>
</div>
<div class="ingredients-list">
<a href="" ng-click="showComplex()">Aggiungi Fermentabili</a>
<div class="table-responsive">
	<table ng-show="fermentablesList" class="ng-binding ng-hide table table-hover" cellpadding="0" cellspacing="0" id="fermentables">
		<thead>
			<tr>
				<th>Name</th>
				<th>Quantità(kg)</th>
				<th>%</th>
				<th>Og</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in fermentablesList | orderBy:'-quantity'">
				<td>{{item.name}}</td>				
				<td>
					<input type="number" ng:model="item.quantity" ng:required class="form-control input-mini">										
				</td>
				<td>{{ percent(item.quantity) }}</td>
				<td ng:model="item.og">{{ calculateOg(item) }}</td>
				<td style="white-space: nowrap">
					<a href ng-click="removeMalt($index)" class="glyphicon glyphicon-remove-circle"></a>
				</td>							
			</tr>	
			<tr class="totalrow">
				<td>Total</td>
				<td>{{ total() }}</td>
				<td></td> 
				<td>{{ showtotalOg() }}</td> 
				<td></td> 
			</tr>	
		</tbody>
	</table>
</div>	
<a href="" ng-click="showHopModal()">Aggiungi Luppoli </a>
<div class="table-responsive">
	<table ng-show="hopsList" class="ng-binding ng-hide table table-hover" cellpadding="0" cellspacing="0" id="fermentables">
		<thead>
			<tr>
				<th class="col-sm-1">Name</th>
				<th class="col-sm-2">Formato</th>
				<th class="col-sm-2">Min</th>
				<th class="col-sm-2">Step</th>
				<th class="col-sm-1">Quantità(gr)</th>
				<th class="col-sm-2">AA%</th>
				<th class="col-sm-1">Ibu</th>
				<th class="col-sm-1">Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in hopsList | orderBy:'-minutes'">
				<td class="col-sm-2">{{item.name}}</td>
				<td class="col-sm-2">
					<select class="form-control" ng-model="item.formatType" ng-options="obj for obj in hopFormatType">
						<option value="">Formato</option>
					</select>
				</td>
				<td class="col-sm-1">
					<input type="number" ng:model="item.minutes" ng:required class="form-control input-mini">
				</td>
				<td class="col-sm-2">
					<select class="form-control" ng-model="item.step" ng-options="o for o in hopStepType">
						<option value="">Step</option>
					</select>				
				</td>
				<td class="col-sm-2">
					<input type="number" ng:model="item.quantity" ng:required class="form-control input-mini">										
				</td>
				<td class="col-sm-1">
					<input type="number" ng:model="item.alfa" ng:required class="form-control input-mini">										
				</td>
				<!--td>
					<!--input type="number" ng:model="item.ibu" value="{{calculateIbu(item)}}" readonly="" class="form-control input-mini">										
					{{calculateIbu(item)}}
				</td-->
				<td class="col-sm-1" ng:model="item.ibu">
					{{calculateIbu(item)}}
				</td>
				<td class="col-sm-1" style="white-space: nowrap">
					<a href ng-click="removeHop($index)" class="glyphicon glyphicon-remove-circle"></a>
					<a href ng-click="copy($index,'hop')" class="glyphicon glyphicon-plus-sign"></a>
				</td>							
			</tr>	
			<tr class="totalrow">
				<td>Total</td>
				<td></td>
				<td></td>
				<td></td>
				<td>{{totalHop()}}</td>
				<td></td> 
				<td>{{totalIbu()}}</td> 
				<td></td> 
			</tr>	
		</tbody>
	</table>
	</div>	
	<a href="" ng-click="showYeastModal()">Aggiungi Lievito </a>	
	<div class="table-responsive">
	<table ng-show="yeastsList" class="ng-binding ng-hide table table-hover" cellpadding="0" cellspacing="0" id="yeast">
		<thead>
			<tr>
				<th>Name</th>
				<th>Quantità(gr)</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in yeastsList">
				<td>{{item.name}} {{item.prodId}} {{item.form}}</td>
				<td>
					<div class="col-xs-4">
					<input type="number" ng:model="item.quantity" ng:required class="form-control input-mini">										
					</div>
				</td>
				<td style="white-space: nowrap">
					<a href ng-click="removeYeast($index)" class="glyphicon glyphicon-remove-circle"></a>
				</td>							
			</tr>	
			<tr class="totalrow">
				<td>Total</td>
				<td>{{totalYeast()}}</td>
				<td></td> 
			</tr>	
		</tbody>
	</table>
	</div>	
</div>		
				