<!-- <h3>Nuova ricetta </h3> -->
<div class="recipe-header">
	<div class="box-form info">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="recipeName" class="col-sm-2 control-label">Nome</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng:model="recipe.name" id="recipename" placeholder="Nome">
				</div>
			</div>
			<div class="form-group">
				<label for="recipeType" class="col-sm-2 control-label">Tipo</label>
				<div class="col-sm-10">
					<select class="form-control" ng:model="recipe.type" ng-options="obj for obj in recipeType">
						<option value="">Tipo ricetta</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="recipeStyle" class="col-sm-2 control-label">Stile</label>
				<div class="col-sm-10">
					<select class="form-control" ng:model="style" ng-options="c.name for c in recipeStyle track by c.id">
						<option value="">Stile</option>
					</select>
				</div>
			</div>		
		</form>	
	</div>
	<div class="box-form batch">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="recipeName" class="col-sm-3 control-label">Litri finali</label>
				<div class="col-sm-9">
					<input type="number" class="form-control" ng:model="recipe.size" id="recipesize" placeholder="Litri">
				</div>
			</div>
			<div class="form-group">
				<label for="recipeName" class="col-sm-3 control-label">Litri pre-boil</label>
				<div class="col-sm-9">
					<input type="number" class="form-control" ng:model="recipe.sizePb" id="recipepbsize" placeholder="Litri Pre-boil">
				</div>
			</div>
			<div class="form-group">
				<label for="recipeName" class="col-sm-3 control-label">Efficienza</label>
				<div class="input-group col-sm-9">
					<input type="text" class="form-control" ng:model="recipe.efficiency" id="recipeeff" placeholder="Efficienza">
					<div class="input-group-addon">%</div>
				</div>
			</div>
		</form>	
	</div>
	<div class="box-results col-md-5">
		<div class="row">
			<div class="col-md-2">
				<span class="tip-title" tooltip="Gravità iniziale">OG</span>
			</div>
			<div class="col-md-2 data-results">{{ showtotalOg() }}</div>		
				<div class="col-md-8">
					<div class="bb-bar" title="Style range: {{style.og}}">
						<div class="bb-bar-range" style="width: {{rangeW() }}%; left: {{rangeL() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></div>
							<i class="bb-bar-this fa fa-caret-down" style="left: {{ogpercent() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></i>
					</div>
				</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<span class="tip-title" tooltip="International Bittering Units">IBU</span>
			</div>
			<div class="col-md-2 data-results">{{ totalIbu() }}</div>		
				<div class="col-md-8">
					<div class="bb-bar" title="Style range: {{style.ibu}}">
						<div class="bb-bar-range" style="width: {{ibuRangeW() }}%; left: {{ibuRangeL() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></div>
							<i class="bb-bar-this fa fa-caret-down" style="left: {{ibupercent() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></i>
					</div>
				</div>
			</div>			
		<div class="row">
			<div class="col-md-2">
				<span class="tip-title" tooltip="Standard Reference Method">SRM</span>
			</div>
			<div class="col-md-2 data-results">{{ totalSrm() }}</div>		
				<div class="col-md-8">
					<div class="bb-bar" title="Style range: {{style.srm}}">
						<div class="bb-bar-range" style="width: {{srmRangeW() }}%; left: {{srmRangeL() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></div>
							<i class="bb-bar-this fa fa-caret-down" style="left: {{srmPercent() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></i>
					</div>
				</div>
			</div>			
		<div class="row">
			<div class="col-md-2">
				<span class="tip-title" tooltip="Standard Reference Method">ABV</span>
			</div>
			<div class="col-md-2 data-results">{{ totalAbv() }}%</div>		
			<div class="col-md-8">
				<div class="bb-bar" title="Style range: {{style.abv}}">
					<div class="bb-bar-range" style="width: {{abvRangeW() }}%; left: {{abvRangeL() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></div>
						<i class="bb-bar-this fa fa-caret-down" style="left: {{abvPercent() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></i>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="col-md-2">
				<span class="tip-title" tooltip="Estimated Final Gravity">Est.FG</span>
			</div>
			<div class="col-md-2 data-results">{{ showEstFg() }}</div>		
			<div class="col-md-8">
				<div class="bb-bar" title="Style range: {{style.fg}}">
					<div class="bb-bar-range" style="width: {{fgRangeW() }}%; left: {{fgRangeL() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></div>
						<i class="bb-bar-this fa fa-caret-down" style="left: {{fgPercent() }}%; transition: width 1s ease, left 1s ease; -webkit-transition: width 1s ease, left 1s ease;"></i>
				</div>
			</div>
		</div>									
	</div>
</div>
<v-accordion class="vAccordion--default recipe-accordion" multiple>
  <v-pane expanded class="ingredients-pane">
    <v-pane-header class="pane-header">
      Ingredienti
    </v-pane-header>
    <v-pane-content>
			<div class="ingredients-list">
			<md-button class="md-primary" ng-click="showComplex()">
			  <md-icon md-svg-src="images/icons/launch.svg"></md-icon>
			  Fermentabili
			</md-button>
			<div>
				<table ng-show="fermentablesList.length > 0" class="ng-binding ng-hide table table-hover" cellpadding="0" cellspacing="0" id="fermentables">
					<thead>
						<tr>
							<th class="col-sm-3">Name</th>
							<th class="col-sm-2">Quantità(kg)</th>
							<th class="col-sm-2">%</th>
							<th class="col-sm-3">Og</th>
							<th class="col-sm-2">Edit</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in fermentablesList | orderBy:'-quantity'">
							<td  class="col-sm-3">{{item.name}}</td>				
							<td  class="col-sm-2">
								<input type="number" ng:model="item.quantity" ng:required class="form-control input-mini">										
							</td>
							<td  class="col-sm-2">{{ percent(item.quantity) }}</td>
							<td  class="col-sm-3" ng:model="item.og">{{ calculateOg(item) }}</td>
							<td  class="col-sm-2" style="white-space: nowrap">
								<a href ng-click="removeMalt($index)" class="glyphicon glyphicon-remove-circle"></a>
							</td>							
						</tr>	
						<tr class="totalrow">
							<td>Total</td>
							<td>{{ total() }}</td>
							<td></td> 
							<td>{{ showtotalOg() }}</td> 
							<td></td> 
						</tr>	
					</tbody>
				</table>
			</div>	
			<md-button class="md-primary" ng-click="showHopModal()">
			  <md-icon md-svg-src="images/icons/launch.svg"></md-icon>
			  Luppoli
			</md-button>
			<div>
				<table ng-show="hopsList.length > 0" class="ng-binding ng-hide table table-hover" cellpadding="0" cellspacing="0" id="fermentables">
					<thead>
						<tr>
							<th class="col-sm-1">Name</th>
							<th class="col-sm-2">Formato</th>
							<th class="col-sm-2">Min</th>
							<th class="col-sm-2">Step</th>
							<th class="col-sm-1">Quantità(gr)</th>
							<th class="col-sm-2">AA%</th>
							<th class="col-sm-1">Ibu</th>
							<th class="col-sm-1">Edit</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in hopsList | orderBy:'-minutes'">
							<td class="col-sm-2">{{item.name}}</td>
							<td class="col-sm-2">
								<select class="form-control" ng-model="item.formatType" ng-options="obj for obj in hopFormatType">
									<option value="">Formato</option>
								</select>
							</td>
							<td class="col-sm-1">
								<input type="number" ng:model="item.minutes" ng:required class="form-control input-mini">
							</td>
							<td class="col-sm-2">
								<select class="form-control" ng-model="item.step" ng-options="o for o in hopStepType">
									<option value="">Step</option>
								</select>				
							</td>
							<td class="col-sm-2">
								<input type="number" ng:model="item.quantity" ng:required class="form-control input-mini">										
							</td>
							<td class="col-sm-1">
								<input type="number" ng:model="item.alfa" ng:required class="form-control input-mini">										
							</td>
							<!--td>
								<!--input type="number" ng:model="item.ibu" value="{{calculateIbu(item)}}" readonly="" class="form-control input-mini">										
								{{calculateIbu(item)}}
							</td-->
							<td class="col-sm-1" ng:model="item.ibu">
								{{calculateIbu(item)}}
							</td>
							<td class="col-sm-1" style="white-space: nowrap">
								<a href ng-click="removeHop($index)" class="glyphicon glyphicon-remove-circle"></a>
								<a href ng-click="copy($index,'hop')" class="glyphicon glyphicon-plus-sign"></a>
							</td>							
						</tr>	
						<tr class="totalrow">
							<td>Total</td>
							<td></td>
							<td></td>
							<td></td>
							<td>{{totalHop()}}</td>
							<td></td> 
							<td>{{totalIbu()}}</td> 
							<td></td> 
						</tr>	
					</tbody>
				</table>
			</div>	
			<md-button class="md-primary" ng-click="showYeastModal()">
				<md-icon md-svg-src="images/icons/launch.svg"></md-icon>
				Lievito
			</md-button>	
			<div>
				<table ng-show="yeastsList.length > 0" class="ng-binding ng-hide table table-hover" cellpadding="0" cellspacing="0" id="yeast">
					<thead>
						<tr>
							<th>Name</th>
							<th>Quantità</th>
							<th>Edit</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in yeastsList">
							<td>{{item.name}} {{item.prodId}} {{item.form}}</td>
							<td>
								<div class="col-xs-4">
								<input type="number" ng:model="item.weight" ng:required class="form-control input-mini">										
								</div>
							</td>
							<td style="white-space: nowrap">
								<a href ng-click="removeYeast($index)" class="glyphicon glyphicon-remove-circle"></a>
							</td>							
						</tr>	
						<tr class="totalrow">
							<td>Total</td>
							<td>{{totalYeast()}}</td>
							<td></td> 
						</tr>	
					</tbody>
				</table>
			</div>
			<md-button class="md-primary" ng-click="showMiscModal()">
				<md-icon md-svg-src="images/icons/launch.svg"></md-icon>
				Extra
			</md-button>	
			<div>
				<table ng-show="miscsList.length > 0" class="ng-binding ng-hide table table-hover" cellpadding="0" cellspacing="0" id="yeast">
					<thead>
						<tr>
							<th class="col-sm-3">Nome</th>
							<th class="col-sm-3">Quantità(gr)</th>							
							<th class="col-sm-2">Tipo</th>
							<th class="col-sm-2">Utilizzo</th>
							<th class="col-sm-1">Edit</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in miscsList">
							<td class="col-sm-3">{{item.name}}</td>
							<td class="col-sm-3">
								<input type="number" ng:model="item.quantity" ng:required class="form-control input-mini">										
							</td>
							<td class="col-sm-2">{{item.type}}</td>
							<td class="col-sm-2">{{item.use}}</td>
							<td class="col-sm-1" style="white-space: nowrap">
								<a href ng-click="removeMisc($index)" class="glyphicon glyphicon-remove-circle"></a>
								<a href ng-click="copy($index,'misc')" class="glyphicon glyphicon-plus-sign"></a>
							</td>							
						</tr>	
					</tbody>
				</table>
			</div>			
			</div>
		</v-pane-content>
	</v-pane>
  <v-pane class="mash-pane">
    <v-pane-header class="pane-header">
      Step di ammostamento
    </v-pane-header>
    <v-pane-content>
			<md-button class="md-primary" ng-click="addStep()">
			  <md-icon md-svg-src="images/icons/launch.svg"></md-icon>
			  Aggiungi Step
			</md-button>
			<form>
				<div class="row" ng-repeat="item in stepList" style="margin-left:0;margin-bottom:15px">
					<div class="col-sm-2">
						<select class="form-control" ng-model="item.step" ng-options="obj for obj in stepType">
							<option value="">Step di ammostamento</option>
						</select>	
					</div>
					<div class="col-sm-2">
						<select class="form-control" ng-model="item.mashType" ng-options="obj for obj in mashType">
							<option value="">Tipo di ammostamento</option>
						</select>
					</div>
					<div class="col-sm-2">
						<input type="number" class="form-control" ng:model="item.degrees" id="itemdegrees" placeholder="Gradi">
					</div>
					<div class="col-sm-2">
						<input type="number" class="form-control" ng:model="item.minutes" id="itemmin" placeholder="Minuti">
					</div>
					<a href ng-click="removeStep($index)" class="fa fa-times"></a>			
				</div>
			</form>
<fusioncharts
    width="600" 
    height="400"
    type="mscombi2d"
    datasource="{{mashStepChart}}"
    ></fusioncharts>			
		</v-pane-content>
	</v-pane>
  <v-pane class="fermetation-pane">
    <v-pane-header class="pane-header">
      Fermentazione
    </v-pane-header>
    <v-pane-content>
			<md-button class="md-primary" ng-click="addStepFer()">
			  <md-icon md-svg-src="images/icons/launch.svg"></md-icon>
			  Aggiungi Step
			</md-button>
<!-- 			<form> -->
<!-- 				<div class="row" ng-repeat="item in stepList" style="margin-left:0;margin-bottom:15px"> -->
<!-- 					<div class="col-sm-2"> -->
<!-- 						<select class="form-control" ng-model="item.step" ng-options="obj for obj in stepType"> -->
<!-- 							<option value="">Step di ammostamento</option> -->
<!-- 						</select>	 -->
<!-- 					</div> -->
<!-- 					<div class="col-sm-2"> -->
<!-- 						<select class="form-control" ng-model="item.mashType" ng-options="obj for obj in mashType"> -->
<!-- 							<option value="">Tipo di ammostamento</option> -->
<!-- 						</select> -->
<!-- 					</div> -->
<!-- 					<div class="col-sm-2"> -->
<!-- 						<input type="number" class="form-control" ng:model="item.degrees" id="itemdegrees" placeholder="Gradi"> -->
<!-- 					</div> -->
<!-- 					<div class="col-sm-2"> -->
<!-- 						<input type="number" class="form-control" ng:model="item.minutes" id="itemmin" placeholder="Minuti"> -->
<!-- 					</div> -->
<!-- 					<a href ng-click="removeStep($index)" class="fa fa-times"></a>			 -->
<!-- 				</div> -->
<!-- 			</form> -->
		</v-pane-content>
	</v-pane>	
</v-accordion>		
<md-button ng-click="saveRecipe()" ng-disabled="recipe.name == undefined || recipe.type == undefined || style == undefined || recipe.name.length <= 1" class="md-raised md-primary">Salva ricetta</md-button>
<!-- 	<div ng-include="'/app/views/test.html'"></div> -->
				