			<div class="modal fade">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">{{title}}</h4>
						</div>
						<div class="modal-body">		
						<div class="container-fluid fermentables-page">
						<h4>Aggiungi lievito</h4>			
						<form class="form-inline" ng-submit="addYeast()" style="margin-top:30px;">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Nome" ng-model="name"></input>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Laboratorio" ng-model="lab"></input>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Id Prodotto" ng-model="prodId"></input>
							</div>
							<div class="form-group">
								<select class="form-control" ng-model="type" ng-options="obj for obj in optionsType">
									<option value="">-- Tipo --</option>
								</select>
							</div>				
							<div class="form-group">
								<select class="form-control" ng-model="form" ng-options="obj for obj in formatType">
									<option value="">-- Formato --</option>
								</select>
							</div>											
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Range T°" ng-model="rangeT"></input>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Attenuazione" ng-model="attenuation"></input>
							</div>
							<div class="form-group">
								<input type="number" class="form-control" placeholder="Quantità" ng-model="weight"></input>
							</div>							
							<md-button class="md-raised md-primary">Aggiungi</md-button>
						</form>
						<div class="form-group form-group-sm col-sm-2 filter">
							<input class="form-control" placeholder="Filtra..." type="text" ng-model="query"/>
						</div>
						<br></br>
						<div class="table-responsive">
							<table class="table table-hover table-bordered" cellpadding="0" cellspacing="0" id="yeasts">
								<thead>
									<tr>
										<th></th>
										<th>Nome</th>
										<th>Laboratorio</th>
										<th>Id Prodotto</th>
										<th>Tipo</th>
										<th>Formato</th>
										<th>Range T°</th>
										<th>Attenuazione</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="yeast in yeasts | orderBy:'-name' :!reverse| filter:query">
										<td>
											<!--span ng-click="add(yeast)" ng-class="{'glyphicon glyphicon-check' : tempselected.indexOf(yeast.name) >= 0, 'glyphicon glyphicon-unchecked' : tempselected.indexOf(yeast.name) < 0}" aria-hidden="true"></span-->
											<md-checkbox class="yeasts-check" ng-checked="tempselected.indexOf(yeast.name) >= 0" ng-click="add(yeast)" aria-label="Hop"></md-checkbox>
										</td>	
										<td>{{yeast.name}}</td>
										<td>{{yeast.lab}}</th>
										<td>{{yeast.prodId}}</td>
										<td>{{yeast.type}}</td>			
										<td>{{yeast.form}}</td>			
										<td>{{yeast.rangeT}} °C</td>			
										<td>{{yeast.attenuation}} %</td>			
									</tr>	
								</tbody>
							</table>			
						</div>
						</div>
						</div>
						<div class="modal-footer">
							<md-button class="md-raised md-primary" ng-click="close()" data-dismiss="modal">OK</md-button>
							<md-button class="md-raised" ng-click="cancel()">Cancella</md-button>
						</div>
					</div>
				</div>
			</div>	