body {
  padding: 25px;
  font: 14px "Muli", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

a {
  color: rgb(0,150,136);
}

a:hover {
	color: #FB9902;
	text-decoration: none;
}	

#app_container_id {
	padding-left: 0;
	padding-right: 0;	
}

.header {
	display: table;
	width: 100%;
}

.page-header.home-link {
	margin-top: 70px;
	border-bottom: none;
} 

.page-header > a {
	text-decoration: none;
}

.page-header > a > h1 {
	color: 	rgb(0,150,136);
}

.appScrNoTop #menu	{ 
	top : -44px;
}

/** HOME **/

.home-content {
	max-width: 	864px;
	box-sizing: border-box;
}

.home-content .home-column {
	margin-top: 20px;
}

.home-content .home-column .md-toolbar-tools h3 {
	font-size: 18px;
}

.home-content .panel-heading .info-title {
	font-size: 	22px;
}

.home-content .panel-heading .sub-title {
	font-size: 	24px;
}

.home-column .panel-footer {
	border: none;
	padding: 15px;
}

.home-column [layout=row] {
	flex-wrap: wrap;
}

/** INTERNAL PAGE **/

.ingredients-list .table {
	font-size: 14px;
}

.table .col-xs-2, .table .col-xs-4 {
	padding: 0;
}

.table .totalrow {
	font-size: 15px;
	font-weight: bold;
}

.recipe-header {
	display: table;
	width: 100%;
	margin-bottom: 30px;
}
.box-form  {
	background-color: #fff;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	position: relative;
	padding: 45px 15px 15px;
	margin: 15px 0;
	border-style: solid;
	width: 45%;
	float: left;
}

.box-results {
	clear: both;
	width: 45%;
	float: left;
}

.box-results  .row{
	margin-bottom: 4px;
}

.box-results .data-results {
	font-weight: bold;
	color : #FB9902;
}

.box-srm {
	width: 45%;
	float: right;
}

.box-srm img {
	max-width: 105px;
} 

.tip-title {
	cursor: help;
	font-weight: bold;
	color: rgb(0,150,136);
}

.bb-bar {
	height: 8px;
	width: 100%;
	margin-top: 8px;
	border: 1px solid #ccc;
	border-color: #fff #ccc #ccc #fff;
	position: relative;
	background-color: #f1f1f1;
}

.bb-bar-range {
	background-color: rgb(0,150,136);
	height: 100%;
	position: absolute;
}

i.bb-bar-this {
	color: #FB9902;
	/*color: #428bca;*/
	display: block;
	position: absolute;
	top: -17px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	font-size: 24px;
	margin-left: -8px;
	padding-left: 1px;
	padding-right: 1px;
	transform: scale(0.7, 1.0);
}

.box-form.batch {
	float: right;
}

.box-form.batch .form-horizontal .form-group .input-group {
	padding-left: 15px;
	padding-right: 15px;
}

.box-form.info:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "Informazioni generali";
}

.box-form.batch:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "Informazioni batch";
}

.box-form .form-horizontal .control-label {
	text-align: left;
}

.recipeGrid {
	height: 250px;
}

.modal-content {
	max-height: 850px;
/* 	overflow-y: scroll; */
	overflow: hidden;
	top: 35px;	
}

.modal-content table {
	font-size: 14px;
}

.modal-content .table>tbody>tr>td, .modal-content .table>tbody>tr>th, .modal-content .table>tfoot>tr>td, .modal-content .table>tfoot>tr>th, .modal-content .table>thead>tr>td, .modal-content .table>thead>tr>th {
	vertical-align: middle;
}

.modal-content .filter {
	padding-left: 0;
}

.modal-content .table-container {
	overflow-y: scroll;
	max-height: 600px;
}

.modal-content .modal-footer {
	border-top: none;
	position: fixed;
	top: 80px;
	right: 10px;
}

md-checkbox.fermentables-check.md-default-theme.md-checked .md-icon{
	background-color: #FB9902;
}

md-checkbox.hops-check.md-default-theme.md-checked .md-icon{
	background-color: #63B76C;
}

md-checkbox.yeasts-check.md-default-theme.md-checked .md-icon{
	background-color: #F653A6;
}

md-checkbox.miscs-check.md-default-theme.md-checked .md-icon{
	background-color: #F4D81C;
}

.box-form-select {
	width: 50%;
}


.pane-header {
	font-family: 'Muli', sans-serif;
	color: rgb(0,150,136);
	font-size: 18px;
	font-weight: 600;
	line-height: 40px;
	
}

.result-pane .pane-header {
	font-size: 14px;
}

.result-accordion .data-results input{
	height: 30px; 
	text-align: center;
	margin-top: -6px;
}

.result-accordion .row {
	margin-top: 20px;
} 

.mash-pane .fa-times, .fermetation-pane .fa-times{
	font-size: 1.5em;
	margin-top: 7px;
}

/* v-accordion ovverride */
.recipe-accordion.vAccordion--default v-pane.is-expanded>v-pane-header, .result-accordion.vAccordion--default v-pane.is-expanded>v-pane-header {
	border-bottom-color: rgb(0,150,136);
}

.recipe-content .vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before {
	background-color: rgb(0,150,136) !important;
}

.recipe-content .vAccordion--default v-pane-header:hover, .vAccordion--default v-pane-header:focus {
	color: rgb(0,150,136) !important;
}

.recipe-content .vAccordion--default v-pane-header {
/*	border-bottom: 2px solid #FB9902;*/
	border-bottom: 2px solid #D8D8D8;
}

.recipe-content .table-responsive #hops .title {
	font-weight: bold;
}

.recipe-content .table-responsive .step-separator { 
	border-bottom: 2px solid lightsteelblue;
	
}

/* bootstrap ovveride */
.form-control:focus {
	border-color: rgb(0,150,136);
}

.home-content .btn-primary {
	font-size: 16px;
	background-color: #FB9902;
	border: none;
	/*border: none; */
	border-radius: 0;
}

.recipe-content .table>tbody>tr>td {
	border-top: none;
	padding: 8px;
}

.recipe-content .home-content .form-control {
	border-radius:0;
	width: auto;
	float: left;
	padding-right: 5px;
}
	
.recipe-content .form-control {
	border-radius:0;
}

.ingredients-list select.form-control {
	width: auto;
}

.ingredients-list input[type="number"].form-control {
	max-width: 100px; 
	min-width: 70px;
}

.home-content .btn-primary:hover, .home-content .btn:hover {
	background-color: #996515;
}

.home-content .panel-primary {
	border: none;
}

.home-content .panel-primary>.panel-heading {
	color: rgb(0,150,136);
	border-color: rgb(0,150,136);
}

.home-content .panel-primary>.panel-heading {
	border: 1px solid rgb(0,150,136);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #FFFFFF;
}

/* angular material override*/
md-toolbar.md-small {
	height: 48px;
	min-height: 48px;
	max-height: 48px;
}

md-input-container label {
	font-size: 16px;
}

/* SRM color */
.srm0,
.srm1 {
  background-color: #fee799;
}

.srm2 {
  background-color: #fdd978;
}

.srm3 {
  background-color: #fdcb5a;
}

.srm4 {
  background-color: #fcc143;
}

.srm5 {
  background-color: #f7b324;
}

.srm6 {
  background-color: #f5a800;
}

.srm7 {
  background-color: #ee9e00;
}

.srm8 {
  background-color: #e69100;
}

.srm9 {
  background-color: #e38901;
}

.srm10 {
  background-color: #da7e01;
}

.srm11 {
  background-color: #d37400;
}

.srm12 {
  background-color: #cb6c00;
}

.srm13 {
  background-color: #c66401;
}

.srm14 {
  background-color: #bf5c01;
}

.srm15 {
  background-color: #b65300;
}

.srm16 {
  background-color: #b04f00;
}

.srm17 {
  background-color: #ac4701;
}

.srm18 {
  background-color: #a24001;
}

.srm19 {
  background-color: #9c3900;
}

.srm20 {
  background-color: #963500;
}

.srm21 {
  background-color: #912f00;
}

.srm22 {
  background-color: #8c2d01;
}

.srm23 {
  background-color: #832501;
}

.srm24 {
  background-color: #7e1f01;
}

.srm25 {
  background-color: #771c01;
}

.srm26 {
  background-color: #721b00;
}

.srm27 {
  background-color: #6c1501;
}

.srm28 {
  background-color: #670f01;
}

.srm29 {
  background-color: #620f01;
}

.srm30 {
  background-color: #5b0d01;
}

.srm31 {
  background-color: #560c03;
}

.srm32 {
  background-color: #5d0a02;
}

.srm33 {
  background-color: #500a08;
}

.srm34 {
  background-color: #4a0605;
}

.srm35 {
  background-color: #440706;
}

.srm36 {
  background-color: #420807;
}

.srm37 {
  background-color: #3c0908;
}

.srm38 {
  background-color: #390708;
}

.srm39 {
  background-color: #39080b;
}

.srm40 {
  background-color: #050B0A;
}

/* Menu */
#menu {
	display: block;
	height: 44px;
	min-width: 100%;
	top: 0;
	z-index: 9999;
	position:fixed;
	background: rgba(0,150,136,0.8);
	color: #fff;
	-webkit-transition: left 1s;
	transition: left 1s;
	position: fixed;	
}

#menu .toggle {
	top: 0;
	left: 200px;
	padding:8px;
	position: absolute;
	background-color: rgb(0,150,136);
	color:#fff;	
}

#toggle, #app_label_menu {
	display: none;
}

div.header-table {
	color: rgba(0,0,0,0.54);
	font-weight: bold;
	margin-bottom: 20px;
}

div.content-table span{
	background-color: #FFFFFF;
/* 	margin-left: 45%; */
	padding: 0 10px;
}

/* Pushing the Menu off the canves */
#menu {
/* 	top: -44px; must be the same as the width of the menu */
}

/* Showing the menu then the Checkbox is checked */
#toggle:checked + #menu {
	left: 0;
	-webkit-transition: all 1s; /* Safari 3.1 to 6.0 */
	transition: all 1s;
}
 
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
 
#menu ul li, #menu > div {
	font-size:16px;
	float: left;
	margin-right: 20px;
}
 
#menu ul li a, #menu > div > a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color:#fff;
}
 
#menu ul ul li {
	background-color: #2c3e50;
}

.result-box {
	font-size: 16px;
	margin-top: 10px;
}

.title-container {
	margin-top: 12px;
	text-align: center;
}

.result-box .result {
	color: rgb(0,150,136);
	font-weight: 700;
}

.md-toast-recipe {
	background-color: #FB9902;
}

@media screen and (min-width: 992px) {
	
	.recipe-content {
		margin-top: 40px;
	}
	
}

@media screen and (max-width:768px) {
	
	.box-results {
		width: 65%;
	}
	
	.box-srm {
		width: 25%;
	}	
	
	.box-srm img {
		width: 100%
	}
}	


@media screen and (max-width:640px) {
	
	#app_label_menu {
		display: block;
	}
	
	#menu {
		width: 200px;
		min-width: 200px;
		background: rgb(256,256,256);
		display: table;
		left: -200px;
	}
	
	#menu ul li, #menu > div {
		font-size: 16px;
		float: none;
	}
	
	#menu ul li a {
		margin-top: 20px;
		color: rgb(0,150,136);
	}	
	
	.page-header.home-link {
		margin: -10 0 0 10%;
	}
	
	.form-control {
		font-size: 12px;
	}
	
	.ingredients-list input.form-control{
		min-width: 70px;
	}
	
	.ingredients-list .table {
		font-size: 12px;
	}
	
	.calculators-content .md-tab h4 {
		font-size: 16px;
	}	
	
}

@media screen and (max-width:480px) {	

	.surplus {
		display: none;
	}
	
	.page-header.home-link h1 {
		font-size: 26px;
	}
	

	.home-column .recipe-box {
		width: 100%;
	}
	
	.calculators-content .md-tab {
		padding: 12px 3px;
		font-size: 12px;
	}	
	
	.home-content md-toolbar, .home-content .md-toolbar-tools {
		height: 100px;
		min-height: 100px;
	}  
	
	.modal.fade .modal-dialog {
		margin: 0;
	}
	
	.modal.fade .modal-dialog .modal-content {
		top: 0;
	}
	
	.modal-content .modal-title {
		margin-left: 10%;
	}
	
	.modal-content .modal-footer {
		top: 46px;
	}
	
}

@media screen and (max-width:320px) {
} 

