body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

a {
  color: rgb(0,150,136);
}

a:hover {
	color: #FB9902;
	text-decoration: none;
}	

.home-content {
	max-width: 	864px;
	margin: 16px;
	box-sizing: border-box;
}

.home-content .home-column {
	margin-top: 20px;
}

.home-content .panel-heading .info-title {
	font-size: 	24px;
}

.home-content .panel-heading .sub-title {
	font-size: 	24px;
}

.ingredients-list .table {
	margin: 6px 8px;
}

.table {
	font-size: 14px;
}

.table .col-xs-2, .table .col-xs-4 {
	padding: 0;
}

.table .totalrow {
	font-size: 15px;
	font-weight: bold;
}

.recipe-header {
	display: table;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 30px;
}
.box-form  {
	background-color: #fff;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	position: relative;
	padding: 45px 15px 15px;
	margin: 15px 0;
	border-style: solid;
	width: 45%;
	float: left;
}

.box-results {
	clear: both;
}

.box-results  .row{
	margin-bottom: 4px;
}

.box-results .data-results {
	font-weight: bold;
	color : #FB9902;
}

.tip-title {
	cursor: help;
	font-weight: bold;
	color: rgb(0,150,136);
}

.bb-bar {
	height: 8px;
	width: 100%;
	margin-top: 8px;
	border: 1px solid #ccc;
	border-color: #fff #ccc #ccc #fff;
	position: relative;
	background-color: #f1f1f1;
}

.bb-bar-range {
	background-color: rgb(0,150,136);
	height: 100%;
	position: absolute;
}

i.bb-bar-this {
	color: #FB9902;
	/*color: #428bca;*/
	display: block;
	position: absolute;
	top: -17px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	font-size: 24px;
	margin-left: -8px;
	padding-left: 1px;
	padding-right: 1px;
	transform: scale(0.7, 1.0);
}

.box-form.batch {
	float: right;
}

.box-form.batch .form-horizontal .form-group .input-group {
	padding-left: 15px;
	padding-right: 15px;
}

.box-form.info:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "Informazioni generali";
}

.box-form.batch:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "Informazioni batch";
}

.box-form .form-horizontal .control-label {
	text-align: left;
}

.modal-content .filter {
	padding-left: 0;
}

md-checkbox.fermentables-check.md-default-theme.md-checked .md-icon{
	background-color: #FB9902;
}

md-checkbox.hops-check.md-default-theme.md-checked .md-icon{
	background-color: #63B76C;
}

md-checkbox.yeasts-check.md-default-theme.md-checked .md-icon{
	background-color: #F653A6;
}

.box-form-select {
	width: 50%;
}

/* bootstrap ovveride */
.form-control:focus {
	border-color: rgb(0,150,136);
}

.btn-primary {
	background-color: #FB9902;
	border: none;
	/*border: none;
	border-radius: 0;*/
}


.home-content .btn-primary:hover, .home-content .btn:hover {
	background-color: #996515;
}

.home-content .panel-primary {
	border: none;
}

.home-content .panel-primary>.panel-heading {
	color: rgb(0,150,136);
	border-color: rgb(0,150,136);
}

.home-content .panel-primary>.panel-heading {
	border: 1px solid rgb(0,150,136);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #FFFFFF;
}
  